<?xml version="1.0" encoding="UTF-8"?>
<testsuites>
  <testsuite name="" tests="7" assertions="13" failures="0" errors="0" time="1.041058">
    <testsuite name="Feature Tests" tests="3" assertions="5" failures="0" errors="0" time="0.586032">
      <testsuite name="Tests\Unit\Security\LoginTest" file="C:\DANIEL\Developing\SERVER\wamp3\www\laravel\agilin\tests\Feature\Security\LoginTest.php" tests="3" assertions="5" failures="0" errors="0" time="0.586032">
        <testcase name="it_calls_authentication_without_credentials" class="Tests\Unit\Security\LoginTest" file="C:\DANIEL\Developing\SERVER\wamp3\www\laravel\agilin\tests\Feature\Security\LoginTest.php" line="12" assertions="2" time="0.243014"/>
        <testcase name="it_calls_authentication_with_valid_credentials" class="Tests\Unit\Security\LoginTest" file="C:\DANIEL\Developing\SERVER\wamp3\www\laravel\agilin\tests\Feature\Security\LoginTest.php" line="22" assertions="2" time="0.225012"/>
        <testcase name="it_calls_authentication_with_invalid_credentials" class="Tests\Unit\Security\LoginTest" file="C:\DANIEL\Developing\SERVER\wamp3\www\laravel\agilin\tests\Feature\Security\LoginTest.php" line="32" assertions="1" time="0.118006"/>
      </testsuite>
    </testsuite>
    <testsuite name="Unit Tests" tests="4" assertions="8" failures="0" errors="0" time="0.455026">
      <testsuite name="Tests\Unit\QualitySystem\Sonar62WrapperTest" file="C:\DANIEL\Developing\SERVER\wamp3\www\laravel\agilin\tests\Unit\QualitySystem\Sonar62WrapperTest.php" tests="4" assertions="8" failures="0" errors="0" time="0.455026">
        <testcase name="it_gets_the_right_resquest" class="Tests\Unit\QualitySystem\Sonar62WrapperTest" file="C:\DANIEL\Developing\SERVER\wamp3\www\laravel\agilin\tests\Unit\QualitySystem\Sonar62WrapperTest.php" line="27" assertions="2" time="0.147008"/>
        <testcase name="it_reads_services_response" class="Tests\Unit\QualitySystem\Sonar62WrapperTest" file="C:\DANIEL\Developing\SERVER\wamp3\www\laravel\agilin\tests\Unit\QualitySystem\Sonar62WrapperTest.php" line="37" assertions="2" time="0.084005"/>
        <testcase name="it_transforms_metric" class="Tests\Unit\QualitySystem\Sonar62WrapperTest" file="C:\DANIEL\Developing\SERVER\wamp3\www\laravel\agilin\tests\Unit\QualitySystem\Sonar62WrapperTest.php" line="46" assertions="1" time="0.106006"/>
        <testcase name="it_gets_metrics" class="Tests\Unit\QualitySystem\Sonar62WrapperTest" file="C:\DANIEL\Developing\SERVER\wamp3\www\laravel\agilin\tests\Unit\QualitySystem\Sonar62WrapperTest.php" line="53" assertions="3" time="0.118007"/>
      </testsuite>
    </testsuite>
  </testsuite>
</testsuites>
